{% extends "admin/change_list.html" %}

{% load admin_urls %}



{% block content %}
<div class="my_controls">
	<h3><a class="button" href="{% url 'admin:leads_export' %}">Export Customer Leads</a></h3>
</div>
<br class="clear"/>

{{block.super}}
{% endblock %}
