@import "partials/base";
.main-header {
    padding-bottom: 10px;
    background-color: $DARK_GREY;
    background-image: url(../images/headers/default-header.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(200px + 20vw);
}
.main-header .nav-bar {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    .logo {
        max-width: 100px;
    }
    .social-nav {
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: rgba($BLUE, 0.8);
        margin-bottom: 20px;
        width: 100%;
        text-align: center;
    }

    @include respond-to("min-width: " + $SMALL_SCREEN_WIDTH) {
        padding: 10px $WRAPPER_PADDING;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
        background-color: rgba($BLUE, 0.8);
        .social-nav {
            flex-grow: 1;
            margin-bottom: 0;
            background-color: transparent;
            text-align: right;
            padding-top: 0;
            padding-bottom: 0;
        }
        .logo {
            max-width: 150px;
            position: absolute;
            top: 10px;
            left: $WRAPPER_PADDING;
        }
    }
}

.social-nav {
    text-align: right;
    text-transform: uppercase;
    font-size: 1.8rem;
    .lnk-text a {
        font-size: 1.2rem;
        margin-right: 0.5rem;
        background-image: url(../images/visit-diamond-lakes-mag.png);
        width: 175px;
        height: 40px;
        background-repeat: no-repeat;
        backgournd-position: 50% 50%;
        background-size: contain;
        text-indent: 9999999px;
        overflow: hidden;
        margin-bottom: 5px;
    }
    ul {
        @extend %horizontal-nav;
    }

    a {
        color: white;
        text-decoration: none;
        &:hover {
            color: $ORANGE;
        }
    }
    li {
        margin-right: 0.3rem;
    }

}
.section-header {
    @extend %wrapper;
    padding-top: 8%;
    padding-bottom: 8%;
    background: $DARK_GREY ;
    background-size: cover;
    color: white;
    text-align: center;
    text-transform: uppercase;
    .title {
        color: white;
        margin-bottom: 0;
        font-size: 8vw;
    }
    @include respond-to("min-width: " + $SMALL_SCREEN_WIDTH) {
        .title {
            font-size: 5vw;
        }
    }
}
$MAIN_CONTENT_TOP_PADDING: calc(30px + 2vw);
.main-content-wrapper {
    @extend %wrapper;
    //overflow: hidden-x;
    padding-top: $MAIN_CONTENT_TOP_PADDING;
    padding-bottom: calc(40px + 2vw);
    background-color: white;
    background-image: url(../images/backgrounds/content-background.png);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 100% auto;

}
.two-column-layout .sidebar {
    margin-top: calc( (-1 * #{$MAIN_CONTENT_TOP_PADDING}) - 30px );
}

.sub-nav {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    border: 1px solid $LIGHT_GREY;
    padding: 20px;
    margin-bottom: 40px;

    .sub-nav-title {
        @include font-size(1.8);
        font-weight: bold;
        margin-bottom: 20px;
        line-height: 1.2;
    }
    ul {
        margin: 0;
        padding: 0;
        @include font-size(1.6);
        list-style-type: none;
        li {
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        li.selected a, a.current_item {
            color: darken($LINK_COLOR, 10%)
        }
        a {
            display: block;
            line-height: 1.25;
            padding: 3px 0;
            text-decoration: none;
        }
    }
}
.explore-callout {
    @extend %wrapper;
    padding-top: calc(20px + 1vw);
    padding-bottom: calc(20px + 1vw);
    background: $GREEN url(../images/backgrounds/explore-background.jpg) no-repeat 20% 50%;
    background-size: cover;
    color: white;
    -webkit-font-smoothing: antialiased;
    .title {
        color: white;
        font-family: $SCRIPT_FONT_STACK;
        font-size: 4.6rem;
        text-align: center;
        display: block;
        transform: rotate(-7deg);
        line-height: 1.1;
        width: 120px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        text-transform: none;
    }
    .body {
        font-family: $HEADING_FONT_STACK;
        font-size: 2.0rem;
        font-weight: 500;
    }
    @include respond-to("min-width: " + $SMALL_SCREEN_WIDTH) {
        .container {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            max-width: 1000px;
            @include block-center();
        }
        .title {
            margin-left: 0;
            margin-right: 40px;
            text-align: right;
            font-size: 6rem;
            width: 170px;
            line-height: 0.9;
            margin-bottom: 0;
        }
        .body {
            width: 70%;
            text-align: right;
            flex-grow: 2;
            font-size: 2.2rem;
        }
    }
}
.thank-you-page .explore-callout {
    display: none;
}
.region-callout {
    @extend %wrapper;
    padding-top: calc(40px + 2vw);
    padding-bottom: calc(40px + 2vw);
    background-color: white;
    .title {
        text-transform: uppercase;
        color: $BLUE;
        @include heading-font();
        font-weight: normal;
        font-size: calc(2.5rem + 0.5vw);
    }
    .body {
        ul {
            padding-left: 0;
        }
        ul li {
            font-size: 2rem;
            line-height: 1.5;
            list-style: none;
            margin-bottom: 0.5rem;
        }
        ul a {
            @include heading-font();
            text-transform: uppercase;
            font-weight: 500;
            color: $GREEN;
            text-decoration: none;
            &:hover {
                color: darken($GREEN, 10%);
            }
        }
    }
    @include respond-to("min-width: " + $SMALL_SCREEN_WIDTH) {
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row-reverse;
            max-width: 1000px;
            @include block-center();
        }
        img {
            width: 50%;
            margin-right: 10%;
        }
        .body {
            width: 40%;
        }
    }
}
.thank-you-page .region-callout {
    padding-top: 0;
}

.main-footer {
    @extend %wrapper;
    padding-top: calc(20px + 0.5vw);
    padding-bottom: calc(20px + 2vw);
    background-color: $BLUE;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    .social-nav {
        margin-bottom: 10px;
    }
    .copyright {
        @include font-size(1.1);
        margin-bottom: 0;

    }
    .assoc-logos {
        ul {
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
        }
        ul li {
            list-style: none;
            margin: 0;
            padding: 0;
            width: 30%;
            img {
                max-width: 80px;
            }
        }
    }
    @include respond-to("min-width: " + $SMALL_SCREEN_WIDTH) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        > * {
            margin-bottom: 0;
        }
        .assoc-logos {
            order: 0;
            width: 40%;
            max-width: 300px;
        }
        .social-nav {
            order: 2;
            width: 40%;
        }
        .copyright {
            order: 3;
            width: 100%;
            margin-top: 20px;
            text-align: center;
        }
    }
}

.home .main-column {
    min-height: 150px
}
@import "partials/form";
@import "partials/pagination";
@import "partials/page_content";
@import "partials/landing_page"
