$WRAPPER_PADDING: 6%;
%wrapper {
    padding: 0 $WRAPPER_PADDING;
    @include clearfix();
    position: relative;
}

%sidebar {
    position: relative;
	float: right;
	width: 32%;
	margin-left: 10%;
    min-height: 1px; // prevent horizontal collapse

	@include respond-to("max-width:" + $SMALL_SCREEN_WIDTH) {
		width: auto;
		float: none;
		margin-left: 0;
		margin-bottom: 30px;
		padding-bottom: 30px;
	}

}
%main-column {
	float: left;
	width: 58%;
    min-height: 1px; // prevent horizontal collapse
	@include respond-to("max-width:" + $SMALL_SCREEN_WIDTH) {
		width: auto;
		float: none;
	}
}

// 2 column layout class
.two-column-layout {
    @include clearfix();
	.sidebar {
		@extend %sidebar;
	}
	.main-column {
		@extend %main-column;
	}
}

.one-column-narrow-layout .main-column {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
