/* -----------------------------------------------------------------------
Blueprint CSS Framework 1.0.1
http://blueprintcss.org

* Copyright (c) 2007-Present. See LICENSE for more info.
* See README for instructions on how to use Blueprint.
* For credits and origins, see AUTHORS.
* This is a compressed file. See the sources in the 'src' directory.
----------------------------------------------------------------------- */
/* print.css */
body {
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  color: #000;
  background: none;
  font-size: 10pt; }

.container {
  background: none; }

hr {
  background: #ccc;
  color: #ccc;
  width: 100%;
  height: 2px;
  margin: 2em 0;
  padding: 0;
  border: none; }

hr.space {
  background: #fff;
  color: #fff;
  visibility: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif; }

code {
  font: .9em "Courier New", Monaco, Courier, monospace; }

a img {
  border: none; }

p img.top {
  margin-top: 0; }

blockquote {
  margin: 1.5em;
  padding: 1em;
  font-style: italic;
  font-size: .9em; }

.small {
  font-size: .9em; }

.large {
  font-size: 1.1em; }

.quiet {
  color: #999; }

.hide {
  display: none; }

a:link, a:visited {
  background: transparent;
  font-weight: 700;
  text-decoration: underline; }

body {
  margin: 10mm; }

h1, h2, h3, h4 {
  page-break-after: avoid; }

ul, img, ol {
  page-break-inside: avoid; }

p, h2, h3 {
  orphans: 3;
  widows: 3; }

ul li {
  list-style-type: square; }

img, object, video, media, embed, iframe {
  max-width: 100%;
  height: auto; }
