<nav class="social-nav">
    <ul>
        <li class="lnk-text"><a href="http://diamondlakesguide.com" target="_blank" title="Arkansas.com">Visit DiamondLakesGuide.com</a></li>
        <li><a href="https://www.facebook.com/HotSpringsDiamondLakesTourismAssociation/" target="_blank" title="Facebook"><i class="fab fa-facebook-square"></i></a></li>
        <li><a href="https://www.instagram.com/hotsprings_diamondlakes/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.pinterest.com/diamondlakestou/?eq=hot%20springs%20di&etslf=5356" target="_blank" title="Pinterest"><i class="fab fa-pinterest-square"></i></a></li>
    </ul>
</nav>
