{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Oswald:400,500|Yellowtail" rel="stylesheet">
        <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
        <title>{% block title %}{% endblock title %}Diamond Lakes Region</title>
        <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-K33MMHC');</script>
<!-- End Google Tag Manager -->
        <meta http-equiv="X-UA-Compatible" content="chrome=IE7" />

        <meta name="viewport" content="initial-scale=1.0, width=device-width"/>
        <meta name="apple-mobile-web-app-capable" content="yes"/>
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        
        <meta name="p:domain_verify" content="35e9a069ad142f5a593239e1228f9f46" />

         {% block opengraph %}{% endblock opengraph %}

        <link rel="stylesheet" href="{% static 'css/print.css' %}" media="print"/>
        <link rel="stylesheet" href="{% static 'css/screen.css' %}" media="screen, projection"/>

        <script src="https://code.jquery.com/jquery-3.2.0.min.js" integrity="sha256-JAW99MJVpJBGcbzEuXk4Az05s/XyDdBomFqNlM3ic+I=" crossorigin="anonymous"></script>
        <script src="{% static 'js/modernizr.custom.74326.js' %}"></script>

        {% comment %}
            Link site specific js and css here
        {% endcomment %}
        {% block extra_head %}{% endblock extra_head %}
    </head>
    <body id="{% block body_id %}{% endblock %}" class="{% block body_class %}{% endblock %}">
        <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K33MMHC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

        <header class="main-header" style="{% block section_header_style %}{% endblock section_header_style %}">
            <nav class="nav-bar">
                {% include "_social_nav.inc.html" %}
                <div class="logo">
                    <a href="http://diamondlakesguide.com" target="_blank" title="Visit DiamondLakesGuide.com">
                        <img src="{% static 'images/site-logo.png' %}" alt="Diamond Lakes Region"  />
                    </a>
                </div>
            </nav>
        </header>

        <main id="site-main" role="main">
            <div class="main-content-wrapper {% block main_content_class %}{% endblock main_content_class %}">
                {% block main_content %}{% endblock main_content %}
                {% block post_content %}{% endblock post_content %}
            </div>
        </main>
        <section class="explore-callout">
            <div class="container">
                <h2 class="title">Explore<br />More</h2>
                <div class="body">
                    <p>
                        Want to explore our region?<br /> Follow the links below or request your
                        free Hot Springs Diamond Lakes Vacation Guide!
                    </p>
                </div>
            </div>
        </section>
        <section class="region-callout">
            <div class="container">
                <div class="body">
                    <h2 class="title">Regional Resources</h2>
                    <ul>
                        <li><a href="http://www.hotsprings.org" target="_blank">Hot Springs</a></li>
                        <li><a href="http://www.arkadelphiaalliance.com" target="_blank">Arkadelphia</a></li>
                        <li><a href="https://glenwoodarkansaschamber.com" target="_blank">Glenwood</a></li>
                        <li><a href="http://www.mboroarkansas.com" target="_blank">Murfreesboro</a></li>
                        <li><a href="http://explorethevillage.com" target="_blank">Hot Springs Village</a></li>
                        <li><a href="http://www.malvernchamber.com" target="_blank">Malvern</a></li>
                        <li><a href="https://www.mtidachamber.com" target="_blank">Mt. Ida</a></li>
                    </ul>
                </div>
                <img src="{% static 'images/map.png' %}" alt="Diamond Lakes Regional Map" class="map" />
            </div>
        </section>
        <footer class="main-footer">
            {% include "_social_nav.inc.html" %}
            <div class="assoc-logos">
                <ul>
                    <li><img src="{% static "images/logos/hotsprings.png" %}" alt=""/></li>
                    <li><img src="{% static "images/site-logo.png" %}" alt=""/></li>
                    <li><img src="{% static "images/logos/arkansas.png" %}" alt=""/></li>
                </ul>
            </div>

            <p class="copyright">&copy;{% now "Y" %} All rights reserved. </p>
        </footer>

        {% block extra_body_content %} {% endblock extra_body_content %}

     {% block extra_js %}{% endblock extra_js %}

    </body>
</html>
