{% extends "base.html" %}

{% block main_content_class %}two-column-layout{% endblock main_content_class %}

{% block main_content %}
    <div class="sidebar">
        {% block sidebar %}{% endblock sidebar %}
    </div>
    <div class="main-column">
        {% block content %}{% endblock content %}
    </div>
{% endblock main_content %}
