{% extends "landing_pages/landing_pages_base.html" %}

{% load staticfiles %}

{% block content %}
    <article class="page">
        <header class="page-header">
            <h1 class="title">Thank You</h1>
        </header>

        <div class="content">
            {{landingpage.thank_you_content|safe}}
        </div>
    </article>
{% endblock content %}

{% block post_content %}
    {% if landingpage.footer_area_content %}
        <section class="footer-video">
            {{landingpage.footer_area_content|safe}}
        </section>
    {% endif %}
{% endblock post_content %}

{% block title %}Thank You - {{landingpage.title|safe}} | {% endblock title %}

{% block main_content_class %}one-column-narrow-layout{% endblock main_content_class %}
{% block body_class %}{{block.super}} thank-you-page {% endblock body_class %}
