{% extends "landing_pages/landing_pages_base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block sidebar %}
    <div class="request-callout">
        <h1 class="title"><em>Get Your Free</em> <strong>Hot Springs</strong> <span>Diamond Lakes Vacation Guide</span></h1>
        <nav>
            <span id="btn-order" class="button">Request Guide</span>
            <a id="btn-viewonline" class="button alt-button" href="https://www.bluetoad.com/view/cjrw/diamond-lakes" target="_blank">View Online</a>
        </nav>
        <footer>
            <ul>
                <li>Arkadelphia</li>
                <li>Caddo Valley</li>
                <li>Glenwood</li>
                <li>Hot Springs</li>
                <li>Malvern</li>
                <li>Mount Ida</li>
                <li>Murfresboro</li>
            </ul>
        </footer>
    </div>
{% endblock sidebar %}

{% block content %}
    <article class="page">
        <header class="page-header">
            <h1 class="title">{{landingpage.title|safe}}</h1>
        </header>

        <div class="content">
            {{landingpage.content|safe}}
        </div>

        <div class="lead-form-wrapper" id="LeadForm">
            <h3 class="form-title">Request Your Free Guide Today</h3>
            {% crispy form %}
        </div>
    </article>
{% endblock content %}

{% block post_content %}
    {% if landingpage.footer_area_content %}
        <section class="footer-video">
            {{landingpage.footer_area_content|safe}}
        </section>
    {% endif %}
{% endblock post_content %}

{% block extra_body_content %}
{% load landing_page_tags %}
<div class="newsletter-signup-wrapper hide" id="NewsletterSignupWrapper">
    <div class="newsletter-signup">
        <div class="close">
            <i class="fas fa-times"></i>
        </div>
        <header>
            <h2 class="title">
                If you would like more information about the
                <span>Diamond Lakes Region</span>
            </h2>
            <h4 class="sub-title">Sign up for our newsletter today</h4>
        </header>
        <div class="email-form-wrapper">
            {% crispy email_form %}
        </div>
        <div class="guide-link-wrapper">
            <a href="{% get_online_pub_url %}" id="lnkViewOnlineGuide" target="_blank">View the Online Guide <i class="fas fa-angle-double-right"></i></a>
        </div>
    </div>
</div>
{% endblock extra_body_content %}

{% block title %}{{landingpage.title|striptags}} | {% endblock title %}


{% block extra_js %}
    <script>
        $(document).ready(function(){
            $('#btn-order').click(function(evt){
                $order_form = $('.lead-form-wrapper');
                $order_form.removeClass('hide');
                $('html, body').animate({
                    scrollTop: $("#LeadForm").offset().top
                }, 200);
            });

/*
            $('#btn-viewonline').click(function(evt){
                $('#NewsletterSignupWrapper').removeClass('hide');
            });
*/

            $('.no-thanks > a, .newsletter-signup .close').click(function(evt){
                $('#NewsletterSignupWrapper').addClass('hide');
            });

        });
    </script>
{% endblock extra_js %}
