label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    color: darken($PRIMARY_HEADING_COLOR, 10%);
}
.hp-fields {
    clear: both;
    visibility: hidden;
    height: 0;
}

input[type=text], input[type=email], input[type=number],
input[type=password], textarea {
    border: 1px solid $MEDIUM_GREY;
    background-color: lighten($LIGHT_GREY, 8%);
    font-size: 1.6rem;
    padding: 8px 8px;
    color: $TXT_COLOR;
    width: 100%;
    border-radius: $border_radius;
	&:focus {
		background-color: lighten(yellow, 35%);
		outline: none;
	}
}
select {
    border: 1px solid $MEDIUM_GREY;
    background-color: lighten($LIGHT_GREY, 8%);
    font-size: 1.6rem;
    width: 100%;
    border-radius: $border_radius;
    padding: 8px 8px;
    display: inline-block;
    height: 34px;
    color: $TXT_COLOR;
    &:focus {
        outline: none;
    }
}

input[type=checkbox], .checkbox {
    display: inline-block;
    font-size: 2.4rem;
}
.checkbox-control label {
    display: inline-block;
    margin-left: 0.25rem;
    margin-bottom: 0;
}

button, input[type=submit], .button {
    @include button($PRIMARY_BUTTON_BACKGROUND_COLOR, $PRIMARY_BUTTON_TXT_COLOR);
    &:focus {
        outline: none;
    }
}

// CRISPY FORM BOOTSTRAP STYLES - might need to be adjusted
form {
    .form-group {
        .help-block {
            display: block;
            margin-top: 5px;
        }
        &:has-error {
            border: 2px solid $ERROR_COLOR;
            padding: 7px 5px;
            .help-block {
                color: $ERROR_COLOR;
            }
        }
    }


    .control-group, .form-group {
        margin-bottom: 30px;
        .help-inline {
            display: block;
            padding: 5px 0 12px 5px;
            color: $MEDIUM_GREY;
            @include font-size(1.4);
        }
    }
}
.control-group.error {
    label {
        color: $ERROR_COLOR;
    }
    .help-inline {
        color: $ERROR_COLOR;
    }
}

.two-col-fields {

    @include respond-to("min-width: " + $VERY_SMALL_SCREEN_WIDTH) {
        display: flex;
        justify-content: space-between;
        > div {
            width: 48%;
        }
    }
}

// Contact Fields
.name-fields, .email-phone-fields {
    @extend .two-col-fields;
    //background-color: red;
}

.city-state-zip-fields {
    @include respond-to("min-width: " + $SMALL_SCREEN_WIDTH) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        > div {
            width: 32%;
        }
    }
}
.email-form-wrapper {
    text-align: left;
    margin-bottom: 20px;
    form {

    }
    label {
        font-size: 1.4rem;
    }
    .form-group {
        margin-bottom: 10px;
    }
    .button {

    }
}
