.footer-video {

}

.request-callout {
    background-color: $BLUE;
    padding: 30px 20px 10px 20px;
    box-shadow: $BOX_SHADOW;
    max-width: 400px;
    @include block-center();
    .title{
        color: white;
        font-size: 2rem;
        text-align: center;
        margin-bottom: 50px;
        line-height: 1.2;
        transform: translateY(-7px) rotate(-7deg);
        em {
            display: block;
            font-family: $SCRIPT_FONT_STACK;
            text-transform: none;
            font-style: normal;
            font-size: 175%;
            line-height: 1;
        }
        strong {
            font-weight: 500;
            font-size: 220%;
        }
        span {
            display: block;
        }
    }

    .button {
        display: block;
        box-shadow: $BOX_SHADOW;
    }
    .alt-button {
        background-color: $ORANGE;
    }
    nav .button {
        margin-bottom: 12px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    nav {
        position: relative;
        margin-bottom: 70px;

        //padding-left: 60px;
        .button {
            transform: translateX(40px);
        }
        &:before {
            display: block;
            content: '';
            width: 150px;
            height: 170px;
            transform: translateY(-7px) rotate(-7deg);
            background-image: url(../images/guide-cover.jpg);
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: contain;
            position: absolute;
            top: -30px;
            left: -30px;
            z-index: 1000;
        }

    }
    footer {
        clear: both;
        @include heading-font();
        font-weight: normal;
        color: white;

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 0;
            margin: 0;
            font-size: 1.4rem;
        }
        li {
            list-style: none;
            padding-left: 0;
            margin-left: 0;
            margin-bottom: 0.5rem;
            margin-right: 1rem;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    /*
    @media screen and (min-width: $SMALL_SCREEN_WIDTH) and (max-width: $MEDIUM_LARGE_SCREEN_WIDTH) {
        nav {
            transform: translateX(0);
            padding-left: 0;
        }
        nav:before {
            position: static;
        }
    }*/
}

.hide {
     visibility: hidden;
     opacity: 0;
     height: 0;
     padding: 0 !important;

}


.lead-form-wrapper {
    padding: calc(30px + 1vw);
    border-radius: $border-radius;
    background-color: lighten($OFF_WHITE, 5%);
    border: 2px solid $LIGHT_GREY;
    transition: opacity 1000ms ease-out;
    .form-title {
        text-align: center;
        font-size: 3.0rem;
        margin-bottom: 4rem;
    }
}

.newsletter-signup-wrapper {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 100%;
}
.newsletter-signup {
    position: relative;
    background-color: $OFF_WHITE;
    background-image: url(../images/backgrounds/popup_backgrounds.jpg);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 100% auto;
    text-align: center;
    border-radius: $border-radius;

    padding: 40px 30px 60px 30px;
    max-width:  550px;
    width: 90%;

    > header {
        margin-bottom: 30px;
    }
    .title {
        text-align: center;
        text-transform: normal;
        font-size: 1.8rem;
        margin-bottom: 5px;
        span {
            @include heading-font();
            display: block;
            font-size: calc(3rem + 2vw);
            color: $BLUE;
        }
    }
    .sub-title {
        text-transform: uppercase;
        font-size: 2rem;
        margin-bottom: 0;
    }
    a {
        text-decoration: none;
    }
    .no-thanks {
        text-align: right;
        @include button(white, $GREEN);
        border: 1px solid $GREEN;
        float: right;

    }
    .close {
        color: $BLUE;
        font-size: 2.0rem;
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        &:hover {
            color: darken($BLUE, 10%);
        }
    }
}
.newsletter-signup .guide-link-wrapper {
    text-align: center;
    text-transform: uppercase;
    padding: 20px 0 0 0;
    a {
        display: block;
        font-size: calc(1.4rem + 1rem);

        &:hover {

        }
        @include heading-font();
        &:before {
            content: 'OR';
            display: block;
            font-size: 3rem;
            margin-bottom: 10px;
            font-family: $SCRIPT_FONT_STACK;
            font-weight: normal;
            color: rgba($GREEN, 0.6);
            transform: rotate(-7deg);
        }
    }
}
