.content-header, .page-header {
    margin-bottom: calc(20px + 0.5vw);
    .parent-title, .section-title {
        line-height: 1.2;
        margin-bottom: 0.5rem;
        @include scalable-font-size(1.2rem, 1vw);
        color: $BLUE;
        text-transform: uppercase;
        @include heading-font();
    }
    .title {
        @include scalable-font-size(4rem, 1vw);
        margin-bottom: 0;
    }
}

.textblock {
    margin-bottom: 30px;
}

.content {
    @include clearfix();
    font-size: 1.6rem;
    margin-bottom: calc(30px + 0.5vw);

    a {
        font-weight: 700;
        text-decoration: none;
    }

    li {
        line-height: 1.25;
        margin-bottom: 0.5em;
        &:last-child {
            margin-bottom: 0;
        }
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        li {
            width: 47%;
        }
    }
    ul li {
        list-style-type: none;
        position: relative;
        text-transform: uppercase;
        color: $GREEN;
        font-weight: bold;
        &:before {
            position: absolute;
            top: 0;
            left: -1.5em;
            content: '●';
            font-size: 75%;
            padding-top: 3px;
            color: $BLUE;
        }
    }

    h2, h3, h4, h5 {
        text-transform: uppercase;

    }
    h2 {
        @include scalable-font-size(3rem, 0.5vw);
    }
    h3 {
        @include scalable-font-size(2.4rem, 0.5vw);

    }
    h4 {
        @include scalable-font-size(2rem, 0.5vw);
        margin-bottom: 2rem;
    }
    strong {
        font-weight: bold;
    }

    blockquote {
        font-style: normal;
        @include font-size(1.8);
        line-height: 1.5;
    }
    dl {
        margin-bottom: 20px;
        dt {
            @include font-size(1.6);
            margin-bottom: 5px;
        }
        dd {
            margin: 0;
            padding: 0;
            line-height: 1.5;
            margin-bottom: 25px;
        }
    }

    figure, img {
        max-width: 100%;
        height: auto;
        display: block;
        margin-bottom: 1.5em;
        padding: 8px;
        background-color: white;
        border: 1px solid $LIGHT_GREY;
        box-shadow: $BOX_SHADOW;

        &.alignleft, &.left {
            float: left;
            max-width: 50%;
            margin-right: 1.5em;
        }
        &.alignright, &.right {
            float: right;
            max-width: 50%;
            margin-left: 1.5em;
        }
        &.center {
            margin-left: auto;
            margin-right: auto;
            max-width: 75%;
        }
    }

    .button {
        max-width: 300px;
    }
    .image-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        img {
            margin-right: 10px;
        }
    }

    @include respond-to("max-width: " + $SMALL_SCREEN_WIDTH) {
        figure, img {
            &.alignleft, &.alignright, &.left, &.right, &.center {
                float: none;
                width: auto;
                max-width: 100%;
                padding-right: 0;
                margin-left: 0;
            }
        }
        .image-grid {
            flex-direction: column;
        }
        ul {
            display: block;
            li {
                width: auto;
            }
        }
    }
}
