{% extends "two_column_layout_base.html" %}
{% block title %}Form Error{% endblock %}

{% block content %}
<h1 class="title">Error</h1>
    <p>
        An error was encountered submitting the form.
    </p>
{% endblock content %}
